main {
  width: 90%;
  margin: auto;
}

.boxContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.box {
  width: 175px;
  height: 150px;
  border: solid 1px rgb(182, 186, 196);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

.item {
  padding-top: 5px;
  padding-bottom: 25px;
}

.buyRemove {
  padding: 5px;
  margin: 5px;
}

.clearResetBtns {
  padding-left: 50px;
}

.clearButton {
  margin-right: 15px;
}

.buttons {
  background-color: rgb(84, 97, 174);
  border: rgb(84, 97, 174);
  color: white;
  cursor: pointer;
  padding: 8px;
}

.buttons:hover {
  background-color: rgb(180, 190, 243);
}

.banner-header {
  background-color: rgb(84, 97, 174);
  color: white;
}

input {
  border: solid 1px rgb(182, 186, 196);
}